@model Finaliglesia.Models.MiembroMatricula

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>MiembroMatricula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MiembrosId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiembrosId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatriculasId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatriculasId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.MiembroMatriculaID }) |
    @Html.ActionLink("Regresar", "Index")
</p>
