@model IEnumerable<Finaliglesia.Models.Ceremonia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoCeremoniaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IglesiasId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraiosId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SacramentosId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FacturasId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SacerdotesId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCeremoniaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IglesiasId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraiosId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SacramentosId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FacturasId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SacerdotesId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CeremoniaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CeremoniaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CeremoniaID })
        </td>
    </tr>
}

</table>
