@model IEnumerable<Finaliglesia.Models.Directiva>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IglesiasId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CargosId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeriodosId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IglesiasId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CargosId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeriodosId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DirectivaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DirectivaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DirectivaID })
        </td>
    </tr>
}

</table>
