@model Finaliglesia.Models.Sacerdote

@{
    ViewBag.Title = "Details";
}

<h2>Deatlles Sacerdote</h2>

<div>
   @* <h4>Sacerdote</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreSacerdote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreSacerdote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApellidoSacerdote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApellidoSacerdote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.SacerdoteID }) |
    @Html.ActionLink("Regresar", "Index")
</p>
