@model IEnumerable<Finaliglesia.Models.CeremoniasModeloVista>


<table class="table">
    <tr>
        <th>
            Fecha
        </th>
        <th>
            Hora
        </th>
        <th>
            Sacramento
        </th>
        <th>
            Sacerdote
        </th>
        <th>
            Tipo de Ceremonia
        </th>
        <th>
            Iglesia
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sacramentos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sacerdotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoCeremonia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iglesia)
            </td>
            <td>
                @Html.ActionLink("Agregar Participantes", "Create", "MiembroCeremonias", new { id = item.CeremoniaID }, new { @class= "btn btn-default"})
                
                @Html.ActionLink("Detalles", "Index", "Ceremonias", new { id = item.CeremoniaID }, new { @class = "btn btn-default" })
                @Html.ActionLink("Eliminar", "Delete", "Ceremonias", new { id = item.CeremoniaID }, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>