@model Finaliglesia.Models.Matricula

@{
    ViewBag.Title = "Crear";
}

<h2>Crear Matricula</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>Matricula</h4>*@
        <div>
            @Html.ActionLink("Matriculas Existentes", "Index", "Matriculas", null, new { @class = "btn btn-primary" })
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Iglesia", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IglesiasId, ViewData["tipo"] as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IglesiasId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Catequistas", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CatequistasId, ViewData["catequistaa"] as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CatequistasId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Sacramentos", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SacramentosId, ViewData["sacramentoo"] as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.SacramentosId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Periodos", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PeriodosId, ViewData["periodoss"] as SelectList, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PeriodosId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary form-control" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index","MiembroMatriculas",new { @class = "btn btn-primary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
