@model IEnumerable<Finaliglesia.Models.MiembroCeremonia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.CeremoniasId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CeremoniasId)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.MiembroCeremoniaID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.MiembroCeremoniaID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.MiembroCeremoniaID })
        </td>
    </tr>
}

</table>
